<app-toolbar
    caption="Colors Quiz"
    icon="palette"
    titleLink="/home"
    (titleClicked)="store.reset()">
    <button mat-icon-button matTooltip="Reset Quiz"
        (click)="store.reset()">
        <mat-icon>restart_alt</mat-icon>
    </button>
</app-toolbar>
<div class="main">
    @if(store.isDone()) {
        <app-done/>
    } @else {
        <app-progress [value]="store.currentQuestionIndex()"
            [max]="store.questionsCount()"/>
        <app-question-presenter/>
    }
</div>
